@model FacilityViewModel

@{
    ViewBag.Title = "Create Facility";
}

<form method="post" enctype="multipart/form-data" class="form">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Name"></label>
    <input asp-for="Name" data-trim>
    <span asp-validation-for="Name"></span>

    <label asp-for="Description"></label>
    <textarea asp-for="Description"></textarea>
    <span asp-validation-for="Description"></span>

    <label asp-for="Price"></label>
    <input type="number" min="1" asp-for="Price" data-trim>
    <span asp-validation-for="Price"></span>

    <label asp-for="IsActive"></label>
    <input asp-for="IsActive" type="checkbox">
    <span asp-validation-for="IsActive"></span>

    <label asp-for="FacilityCategoriesId"></label>
    <select asp-for="FacilityCategoriesId" asp-items="ViewBag.FacilityCategories">
        <option value="">- Select a Category -</option>
    </select>
    <span asp-validation-for="FacilityCategoriesId"></span>

    <label asp-for="Image"></label>
    <input asp-for="Image" type="file" accept="image/*" multiple>
    <span asp-validation-for="Image"></span>

    <section>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </section>
</form>
