@model FacilityBookingViewModel
@{
    ViewBag.Title = "Create Coach Booking";
}


<form method="post" enctype="multipart/form-data" class="form">
    <label asp-for="FacilityId">Facility</label>
    <select id="FacilityId" name="FacilityId">
        <option value="">Select Facility</option>
        @foreach (var facility in ViewBag.Facilities)
        {
            <option value="@facility.Id">@facility.Name</option>
        }
    </select>

        <label asp-for="BookingDate">Booking Date</label>
        <input asp-for="BookingDate" type="date" />

    <label asp-for="StartTime">Start Time</label>
        <input asp-for="StartTime" type="time" />

    <label asp-for ="EndTime">End Time</label>
        <input asp-for="EndTime" type="time" />

    <label asp-for ="Email">Email</label>
        <input asp-for="Email" readonly />

    <label asp-for ="Name">Name</label>
        <input asp-for="Name" readonly />

    <label asp-for="PhoneNumber ">Phone Number</label>
        <input asp-for="PhoneNumber" />

    <label>Recurrence Duration</label>
    <select name="recurrenceDuration">
        <option value="None">None</option>
        <option value="1 Month">1 Month</option>
        <option value="3 Months">3 Months</option>
        <option value="6 Months">6 Months</option>
        <option value="1 Year">1 Year</option>
    </select>
    <button type="submit">Submit</button>
</form>
