@model FacBooking

@{
    ViewBag.Title = "Edit Booking";
}


<form method="post" class="form">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Id"></label>
    <b>@Model?.Id</b>
    <br>

    <label asp-for="Name">User Name</label>
    <input id="UserName" asp-for="Name">
    <span asp-validation-for="Name"></span>

    <label asp-for="PhoneNumber">Phone Number</label>
    <input id="PhoneNumber" asp-for="PhoneNumber" placeholder="e.g. 0123456789">
    <span asp-validation-for="PhoneNumber"></span>

    <label asp-for="Email">User Email</label>
    <input id="UserEmail" asp-for="Email">
    <span asp-validation-for="Email"></span>

    <label asp-for="FacilityId">Facility</label>
    <select id="FacilityId" asp-for="FacilityId" disabled>
        <option value="">Select Facility</option>
        @foreach (var facility in ViewBag.Facilities)
        {
            <option value="@facility.Id">@facility.Name</option>
        }
    </select>

    <label asp-for="BookingDate">Booking Date</label>
    <input type="date" id="BookingDate" asp-for="BookingDate">
    <span asp-validation-for="BookingDate"></span>

    <label asp-for="StartTime">Start Time</label>
    <input type="time" id="StartTime" asp-for="StartTime" step="3600" min="08:00" max="22:00">
    <span asp-validation-for="StartTime"></span>

    <label asp-for="EndTime">End Time</label>
    <input type="time" id="EndTime" asp-for="EndTime" step="3600" min="08:00" max="22:00">
    <span asp-validation-for="EndTime"></span>

    <label asp-for="PayBy">Payment Method</label>
    <input asp-for="PayBy" readonly/>

    <section>
        <button>Submit</button>
        <button type="reset">Reset</button>
    </section>
</form>
@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Disable past dates and unavailable dates
            $('#BookingDate').on('input', function () {
                var selectedDate = $(this).val();
                var today = new Date().toISOString().split('T')[0];

                // Check if the selected date is past or unavailable
                if (selectedDate < today) {
                    alert('This date is not available for booking!');
                    $(this).val('');  // Reset the date picker
                }
            });

            // Disable past dates in date picker
            $('#BookingDate').attr('min', new Date().toISOString().split('T')[0]);

            // Restrict time to hourly intervals and disable past times
            function restrictTime(inputId) {
                let input = document.getElementById(inputId);

                input.addEventListener('input', function () {
                    let now = new Date();
                    let selectedDate = $('#BookingDate').val();
                    let time = input.value;

                    if (time && selectedDate) {
                        let selectedDateTime = new Date(`${selectedDate}T${time}`);

                        // Disable past times on the current day
                        if (selectedDateTime <= now) {
                            alert('Selected time is in the past. Please choose a future time.');
                            input.value = '';
                        }
                    }
                });
            }

            restrictTime('StartTime');
            restrictTime('EndTime');

                $('#StartTime, #EndTime').on('input', function () {
                let time = this.value;
                let [hour, minute] = time.split(':').map(Number);

                // Restrict hours between 8 AM and 10 PM
                if (minute !== '00') {
                    alert('Please select a full hour (e.g., 10:00 AM, 11:00 AM).');
                    this.value = '';
                }
                if (hour < 8 || hour > 22 || (hour === 22 && minute > 0)) {
                    alert('Please select a time between 8:00 AM and 10:00 PM.');
                    this.value = '';
                }
                });
        });
    </script>
}
